node_modules
/public/hot
/public/storage
/public/public/files
/storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*/storage/logs/*
utils/php*
refairmebackend1/resources/pythonapis/match/nltk_data/*
*nltk_data*